<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{API_VERSAO}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-item>
    <h3 class="destaque centralizar">Buscando dados da Minha API</h3>
  </ion-item>
  
  <ion-button expand="block" (click)="BuscarUsuarios()">Buscar</ion-button>

  <ion-item>
    <h4 class="destaque">Usuarios</h4>
  </ion-item>

  <ion-item *ngIf="Usuarios?.length < 1">
    <ion-label>Nenhum usuário carregado.</ion-label>
  </ion-item>

  <ion-list *ngFor="let usuario of Usuarios;">
    <ion-item-group>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{usuario.nome}}</h3>
          </ion-text>          
          <ion-text color="dark">
            <p>Login: {{usuario.login}}</p>
          </ion-text>
          <ion-text color="dark">
            <p>Senha: {{usuario.senha}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-item-group>


  </ion-list>
  
  
   
  
</ion-content>
